<!--The content below is only a placeholder and can be replaced.-->
<div class="table">
  <table>
    <thead></thead><tbody>
      <tr><td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td></tr>
      <tr><td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td></tr>
      <tr><td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td></tr>
      <tr><td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td></tr>
      <tr><td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    </tbody>
  </table>
</div>

<router-outlet></router-outlet>
